
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --font-base: 'Poppins', sans-serif;
  --font-alt: 'Poppins', sans-serif;

  --color-background: #FFFFFF;
  --color-hero: #E4DFFE;
  --color-button: #FFFFFF;
  --color-heading: #03004E;
  --color-text: #02003A;
  --color-accent: #695CEF;
  --color-footer: #03004E;
}


.font-base {
  font-family: var(--font-base);
}

.primary-text-color {
  color: var(--color-text);
} 


.bg-color-background {
  background-color: var(--color-background);
}


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}